@use "sass:map";

// Layout
@use "vertical-nav";
@use "horizontal-nav";
@use "default-layout";
@use "default-layout-w-vertical-nav";
@use "default-layout-w-horizontal-nav";

// Layouts package
@use "layouts";

// Skins
@use "skins";

// Components
@use "components";

// Utilities
@use "utilities";

// Misc
@use "misc";

// Dark
@use "dark";

// libs
@use "libs/perfect-scrollbar";

a {
  color: rgb(var(--v-theme-primary));
  text-decoration: none;
}

// Vuetify 3 don't provide margin bottom style like vuetify 2
p {
  margin-block-end: 1rem;
}

// Iconify icon size
svg.iconify {
  block-size: 1em;
  inline-size: 1em;
}

.ProseMirror-focused {
  border: 2px solid #fff;
}

.ProseMirror {
  // block-size: 100vh;
  outline: none;

  // max-height: 80vh;
  overflow-y: auto;
  padding-inline: 0.5em;

  > p:first-child {
    margin-block-start: 0.5em;
  }

  > h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      margin-block-start: 0.5em;
    }
  }

  img {
    display: block;
    block-size: 300px;
    inline-size: 100%;
    margin-inline: auto;
    max-inline-size: 100%;
    object-fit: contain;
    object-position: left;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }
}

.html-container {
  display: flex;
  flex-direction: column;

  > img {
    display: block;
    block-size: 300px;

    // inline-size: 100%;
    margin-inline: auto;
    object-fit: contain;
    object-position: left;

    &.ProseMirror-selectednode {
      outline: 3px solid #68cef8;
    }
  }
}

.html-container-root {
  padding-block: 24px !important;
  padding-inline: 20px !important;
}
